<div class="main-container-about">
    <div class="works-container">
        <div class="works">

            <img class="pomoc" src="/we-connect/img/pomoc.jpg" alt="help" width="1435" height="200" border-radius="8px">

            <h2 class="h2">We - connect</h2>

            <p class="para1">We connect the points that build a bridge to a new business and life experience.<br>
                             We tear down the distance barriers with web service and we build a community in which we get to know different characteristics and qualities.</p>

            
            <img class="connect" src="/we-connect/img/connect.jpg" atl="connect" width="330" height="200">

            <p class="para2">Our main focus is to help vulnerable groups of people looking for work.<br>
                            Involve them in all sectors and create new partnerships.
                            We also offer a forum where you can read user experiences and engage with commentary.</p>
            
            <p class="para2">We want to create a community of better opportunities and be a firm hand to those who are stepping into the working world for the first time.<br>
                Through our platform, become the one who will offer a new job, or become the one who will ask for it.</p>

            <p class="para2">Depending on your needs, become a part of a connecting society in a few steps</p> 

            <footer>

                <h4>Contact:</h4>
                
                <a href="mailto:we-connect@gmail.hr">we-connect@gmail.hr<br>phone (24/7) : +385 99 5583 665 </a>
              </footer>
        

            <h6 class="sponzori">Sponsors</h6>
            <p class="logospon"><img src="/we-connect/img/croatiaos.jpg"atl="security"><img src="/we-connect/img/euprojekti.jpg" alt="eu projects"><img src="/we-connect/img/otpbank.jpg" alt="bank"><img src="/we-connect/img/pulapromet.jpg" alt="bus"></p>
            
        </div>
    </div>
</div>




  