<div class="main-container-job-posting">
   
    <div class="jobs-container">
        
        <label><b>Post a job</b></label>
        <div class="break"></div>
        
        <div>
            <label>Job Title:</label>
            <div class="break"></div>
            <textarea name="Text1" cols="40" rows="5" class="job-title"></textarea>
        </div>

        <div class="break"></div>

        <div>
            <label>Job Description:</label>
            <div class="break"></div>
            <textarea name="Text1" cols="40" rows="5" class="job-description"></textarea>
        </div>

        <div class="break"></div>

        <div class="contact-div">
            <label>Company &emsp;</label>
            <label>E-mail &nbsp;</label>
            <label>Phone &emsp;</label>
            <div class="break"></div>
            <input name="Text1" cols="40" rows="5" class="contact">
            <input name="Text1" cols="40" rows="5" class="contact">
            <input name="Text1" cols="40" rows="5" class="contact">
        </div>

        <div class="break"></div>

        <div class="submit">
            <button class="submit">Post Job</button>
        </div>

    </div> 


</div>
