.main-container-job-posting{
    display: flex;
    justify-content: center;
    width: 90vw;
    height: 93vh;
    background-color: rgb(232, 235, 248);
    border-radius: 5px;
}

.jobs-container{
    display: flex;
    justify-content: center;
    width: 52vw;
    margin-top: 160px;
    background:rgb(184, 200, 228);
    max-height: 52vh;
    border-radius: 6px;
    flex-wrap: wrap;
    text-align: center;
    overflow: scroll;
}

label{
    font-size: 1.7rem;
}

.break {
    flex-basis: 100%;
    height: 0;
    flex-grow: 1;
  }

.job-title{
    width: 20vw;
    height: 30px;
    font-size: 1.5rem;
    word-wrap: break-word;
    overflow: auto;
    max-width: 500px; 
    max-height: 100px;
    min-width: 300px;
    min-height: 30px;
}

.job-description{
    width: 20vw;
    height: 45px;
    font-size: 1.2rem;
    word-wrap: break-word;
    overflow: auto;
    max-width: 500px; 
    max-height: 200px;
    min-width: 300px;
    min-height: 100px;
}

.contact{
    width: 4.4vw;
    height: 35px;
    font-size: 1.1rem;
    word-wrap: break-word;
    overflow: auto;
}

.contact-div{
    text-align:start !important;
}

.contact-div > label{
    font-size: 1.1vw;
}

.submit{
    border: none;
    border-radius: 3px;
    font-size: 1.5rem;
    background-color: rgb(224, 231, 235);
    height: 40px;
    cursor: pointer;
}