.main-container-home{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 90vw;
    height: 93vh;
    background-color: rgb(232, 235, 248);
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}

.jobs-container{
    background-color: rgb(146, 140, 180);
    border-radius: 15px;
    border: 2px solid rgb(154, 159, 167);
    overflow: scroll;
}

.jobs{
    background-color: rgb(207, 208, 235);
    width: 80vw;
    word-wrap: break-word;
}

.jobs-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.description{
    border: rgb(183, 189, 201) 1px solid;   
}


.description:hover{
    background: rgb(184, 186, 219);
}

.font-btn-plus{
    background-color: rgb(220, 221, 238);
    position: absolute;
    top: 5px;
    left: 8vw;
    z-index: 99;
    width: 50px;
    height: 40px;
    border-radius: 5px;
    border: none;
}

.font-btn-minus{
    background-color: rgb(220, 221, 238);
    position: absolute;
    top: 5px;
    left: 5vw;
    z-index: 99;
    width: 50px;
    height: 40px;
    border-radius: 5px;
    border: none;
}

.font-btn-plus:hover{
    background-color: rgb(184, 186, 219);
}
.font-btn-minus:hover{
    background-color: rgb(184, 186, 219);
}

@media only screen and (max-width: 1600px) {
    .font-btn-plus{ 
        left: 12vw;
    }
    
    .font-btn-minus{
        left: 5vw;
    }
  }

  .keyColor{
      color: rgb(36, 78, 156);
  }