<div class="main-container-home">
   
    <div class="jobs-container">

        <button class="font-btn-plus" (click)="IncreaseFontSize()">+</button>
        <button class="font-btn-minus" (click)="DecreaseFontSize()">-</button>

        <div class="jobs" [ngStyle]="{'font-size.px':fontSize}" *ngFor="let job of jobs">

            <div>
                <p class="description title" (click)="speak('Job Title. ', job.job_title)"><span class="keyColor">Job Title:</span> {{job.job_title}}</p>
            </div>

            <div>
                <p class="description desc" (click)="speak('Job Description. ', job.job_description)"><span class="keyColor">Job Description:</span> {{job.job_description}}</p>
            </div>

            <div>
                <p class="description name" (click)="speak('Company Name. ', job.company_name)"><span class="keyColor">Company Name:</span> {{job.company_name}}</p>
            </div>

            <div>
                <p class="description email" (click)="speak('Company Email. ', job.company_email)"><span class="keyColor">Company Email:</span> {{job.company_email}}</p>
            </div>

            <div>
                <p class="description phone" (click)="speak('Company Phone. ', job.company_phone)"><span class="keyColor">Company Phone:</span> {{job.company_phone}}</p>
            </div>

            <div>
                <p class="description timestamp" (click)="speak('Time posted. ', job.timestamp)"><span class="keyColor">Time Posted:</span> {{job.timestamp}}</p>
            </div>
        </div> 
    
    </div>

</div>