.main-container-home{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 90vw;
    height: 93vh;
    background-color: rgb(232, 235, 248);
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}

.jobs-container{
    background-color: rgb(146, 140, 180);
    border-radius: 15px;
    border: 2px solid rgb(154, 159, 167);
    overflow: scroll;
}

.jobs{
    background-color: rgb(207, 208, 235);
    width: 60vw;
    word-break: break-all;
}

.jobs-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}