<div class="nav-bar"  [ngClass]="{'nb_dark': isDisplay}">
    <div class="nav-bar-buttons">
        <a routerLink="home" class="nav-bar-button" [ngClass]= "{'current': urlCheck === 'home'}">Home</a>
        <a routerLink="job-posting" class="nav-bar-button" [ngClass]= "{'current': urlCheck === 'job-posting'}" *ngIf="this.data.isLoggedIn.value">Job Posting</a>
        <a routerLink="forum" class="nav-bar-button" [ngClass]= "{'current': urlCheck === 'forum'}">Forum</a>
        <a routerLink="about" class="nav-bar-button" [ngClass]= "{'current': urlCheck === 'about'}">About</a>
        <a routerLink="signup" class="nav-bar-button signup" [ngClass]= "{'current': urlCheck === 'signup'}" *ngIf="!this.data.isLoggedIn.value">Signup</a>
        <a routerLink="login" class="nav-bar-button login" [ngClass]= "{'current': urlCheck === 'login'}" *ngIf="!this.data.isLoggedIn.value">Login</a>
        <button (click)="logout()"  class="nav-bar-button logout" *ngIf="this.data.isLoggedIn.value">Logout</button>


        <div class="dark">
            <label class="switch">
                <input (click)="toggle_dm()" type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <mat-icon *ngIf="!isDisplay" class="fixIcons">light_mode</mat-icon>
        <mat-icon *ngIf="isDisplay" class="fixIcons">dark_mode</mat-icon> 
    </div>
</div>